management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

server:
  port: 8080

# ============================
# JWT CONFIG
# ============================
jwt:
  secret: ${JWT_SECRET}

spring:
  data:
    redis:
      host: redis
      port: 6379

  cloud:
    gateway:
      default-filters:
        - name: JwtAuthFilter

      routes:
        - id: auth-service
          uri: http://auth:8081
          predicates:
            - Path=/auth/**
          filters:
            - RemoveRequestHeader=Cookie
